
<%= render 'shared/errors', object: @paperpresenter %>

<%= form_for @paperpresenter, :html => {:id => "my-form" ,:class => "form-horizontal", :onsubmit => "return confirm('Are you sure you want to submit the award? (Click Cancel to Review for changes before submitting)');" } do |f| %>
<p class="form-detail">(Awarded to the CSI member Faculty who presented papers at prestigious International Conferences 
during 01/07/2016 to 30/06/2017) 
</p>      
    <div class="row">
  
    
     <!--form specific details-->
    
    <p class="primary-form-subheading">Faculty Details</p>  
      
    <div class="form-group col-md-3">
      <%= f.label :faculty_name , "Name" %>
      <%= f.text_field :faculty_name , required: true , class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :faculty_email  , "Email" %>
      <%= f.email_field :faculty_email , required: true  , type: "email" , class: "form-control" %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :faculty_number , "Phone" %>
      <%= f.text_field :faculty_number , required: true , class: "form-control" %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :faculty_csi_membership_no , "CSI Mem.Id" %>
      <%= f.text_field :faculty_csi_membership_no , required: true , class: "form-control" %>
    </div>
    
    <div class="form-group col-md-2">
      <%= f.label :valid_till  , "Id Valid Till" %>
      <%= f.date_field :valid_till , required: true , class: "form-control" %>
    </div>
     <p class="proof"><strong>Attach Passport size Photo of the candidate</strong></p>
    </div>
   
    <p class="primary-form-subheading">Conference Details:</p>  
    
    <br>
    <div class="row">
      <div class="col-md-3"><p class="subform-head"><strong>Name</strong></p></div>
      <div class="col-md-2"><p  class="subform-head"><strong>Date</strong></p></div>
      <div class="col-md-2"><p><strong>Organised by</strong></p></div>
      <div class="col-md-3"><p><strong>Place</strong></p></div>
      <div class="col-md-2"><p><strong>India or Outside</strong></p></div>
      
    </div>

    <%= f.fields_for :paperpresenterdetails do |i| %>
      <%= render 'paperpresenterdetail_fields', f: i %>
      
    <% end %>
    
    <div class="links col-md-12">
        <br>
        <%= link_to_add_association 'Add Event', f, :paperpresenterdetails , class: "form-button btn btn-primary" %>
    </div>
    
  <p class="proof fifthform"><strong>(Table may be extended as required.
  Attach copy of paper from Conference proceedings and Certificate Conference brochure copy) *</strong></p>
    
      <p class="proof"><strong>Upload All the attachments (including photo) in a <strong>single zip</strong> 
    file in the link below , zip file size should be less than 20mb</strong></p>
     <br>

    

    <div class="form-group">
        <div class="col-md-offset-5 col-md-2">
            <%= f.submit "Submit" , class: "btn btn-success btn-lg" %>
        </div>
    </div>
    
<% end %>   