
<%= render 'shared/errors', object: @bestcsiinternationalstudentseventhost %>

<%= form_for @bestcsiinternationalstudentseventhost, :html => {:class => "form-horizontal"} do |f| %>
<p class="form-detail">(Awarded to the institutional members which hosted maximum number of CSI sponsored students’ 
software competition participated by a minimum of 10 students from abroad 01/07/2016 to 30/06/2017)</p>      
     
    <div class="primary-form">
    <div class="row institution-details">
      <!--institution details-->
    <p class="primary-form-subheading">Institution Details</p>  
    <div class="form-group col-md-6">
     <label>Institution Name</label>
     <input type="text" class="form-control" id="name" value="<%= current_sbc_user_data.institute.name %>" disabled>     
    </div>
   
   <div class="form-group col-md-3">
      <%= f.label :imno , "Institution Number" %>
      <%= f.text_field :imno , value: current_sbc_user_data.institute.imno,
      required: true , readonly: true ,class: "form-control" , id:"imno"%>
    </div>
    
    <div class="form-group col-md-3">
      <label>City</label>
      <input type="text" class="form-control" id="city" value="<%= current_sbc_user_data.institute.city %>" disabled> 
    </div>
    
   
    
    
    
    <!--sbc details-->
    <p class="primary-form-subheading">SBC Details</p>    
    <div class="sbc-details">
        <div class="form-group col-md-3">
      <label>Name</label>
      <input type="text" class="form-control" id="sbc-name" value="<%= current_sbc_user_data.sbc_name %>" disabled>
    </div>
    
    
    <div class="form-group col-md-3">
      <label>Email</label>
      <input type="email" class="form-control" id="sbc-email" value="<%= current_sbc_user_data.sbc_email %>" disabled> 
    </div>
    
   </div>
    
    <!--form specific feilds-->
    
    
      
    <div class="form-group col-md-3">
      <label>Volunteers</label>
      <input type="text" class="form-control" id="volunteers" title="Number of CSI Volunteers as on 30th  June  2017" 
      value="<%= current_sbc_user_data.no_of_volunteers %>" disabled> 
    </div>
    <div class="form-group col-md-3">
      <%= f.label :volunteers_added  , "# CSI Volunteers added - 2016-17" %>
      <%= f.text_field :volunteers_added , required: true , type: "number",
      min: "0" ,max: "999", maxlength: "3", class: "form-control" %>
    </div>
    </div>
    </div>
    <!--sub form details-->
    
    
    <p class="primary-form-subheading">International Event/Competitions:</p>
    
    
    <br>
    <div class="row">
      <div class="col-md-3"><p class="subform-head"><strong>CSI organised Event / Competition name</strong></p></div>
      <div class="col-md-3"><p  class="subform-head"><strong>Date of event</strong></p></div>
      <div class="col-md-3"><p><strong>Students participated from abroad</strong></p></div>
      <div class="col-md-3"><p><strong>Country Name</strong></p></div>
      
      
    </div>
    
    <%= f.fields_for :internationalevents do |i| %>
    
      <%= render 'internationalevent_fields', f: i %>
   
    <% end %>
    
    
    
    
    <div class="links col-md-12">
      <br>
        <%= link_to_add_association 'Add Event', f, :internationalevents , class: "form-button btn btn-primary" %>
        
    </div>
    <br>
    <p class="proof thirdform">(Table may be extended as required.
    Attach document proof such as photo, invitation, brochure etc along with the list of foreign participants ) *</p>
     <br>
    <p class="proof"><strong>Upload All the attachments (including photo) in a <strong>single zip</strong> 
    file in the link below , zip file size should be less than 20mb</strong></p>
    
  <div>
        
<%= f.label :attachment %>
        
<%= f.filepicker_field :attachment , {max_files: "1" , button_text: "Upload Zip File" } %> <!-- User#avatar_url is a regular string column -->
    
  </div>
    
    
    <div class="form-group">
        <div class="col-md-offset-5 col-md-2">
            <%= f.submit "Submit" , class: "btn btn-success btn-lg" %>
        </div>
    </div>
    
<% end %>   
