
<%= render 'shared/errors', object: @individualserviceaward %>

<%= form_for @individualserviceaward, :html => {:class => "form-horizontal"} do |f| %>

     
   <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :applying_for  %>
      <%= f.select(:applying_for, options_for_select([
          ['Chapter Patron Award', 'Chapter Patron Award'], 
          ['Significant Contribution Award', 'Significant Contribution Award'],
          ['Active Participation Award (Youth)','Active Participation Award (Youth)'],
          ['Active Participation Award (Woman)','Active Participation Award (Woman)']]), {}, {class: "form-control", autofocus: true}) %>
    </div>
    
      <div class="form-group col-md-4">
      <%= f.label :imno , "Chapter" %>
      <%= f.text_field :chapter , value:current_chairman_user_data.chapter_name,
      required: true , readonly: true ,class: "form-control" , id:"imno"%>
<br>
    </div>
    
    <!--applicant details-->

      
   <div>
     <p class="primary-form-subheading">Applicant Details</p>  
    <div class="form-group col-md-4">
      <%= f.label :applicant_name  ,"Name"%>
      <%= f.text_field :applicant_name , required: true  , class: "form-control"%>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :applicant_csi_mem_no , "CSI Membership No."%>
      <%= f.text_field :applicant_csi_mem_no  , required: true , class: "form-control"%>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :applicant_csi_mem_since , "CSI Member since" %>
      <%= f.date_field :applicant_csi_mem_since  , required: true , class: "form-control"%>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :applicant_phone ,"Phone No.with STD Code "  %>
      <%= f.text_field :applicant_phone , required: true  , class: "form-control"%>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :applicant_mobile ,"Mobile No." %>
      <%= f.text_field :applicant_mobile  , required: true , class: "form-control"%>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :applicant_email,"Email"  %>
      <%= f.email_field :applicant_email , required: true , type: "email" , class: "form-control"%>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :applicant_dob ,"D.O.B" %>
      <%= f.date_field :applicant_dob , required: true  , class: "form-control"%>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :applicant_educational_qualification , "Educational Qualification"  %>
      <%= f.text_field :applicant_educational_qualification , required: true  , class: "form-control"%>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :applicant_experience , "Experience" %>
      <%= f.text_field :applicant_experience , required: true  , class: "form-control"%>
    </div>
    </div>
    
    
   </div>
   
   
   
   
   
    <!--sub form details-->
    <div>
    <p class="primary-form-subheading">Holding any position in CSI present or past ( in chronological order)</p>
    
    
    <br>
    <div class="row">
      <div class="col-md-2"><p class="subform-head"><strong>Year</strong></p></div>
      <div class="col-md-5"><p  class="subform-head"><strong>Name of the position</strong></p></div>
      <div class="col-md-5"><p  class="subform-head"><strong>Achievement</strong></p></div>
      
      
    </div>
    
    <%= f.fields_for :contributiontocsiindserviceawards do |i| %>
    
      <%= render 'contributiontocsiindserviceaward_fields', f: i %>
   
    <% end %>
    
    
    <div class="links col-md-12">
      <br>
        <%= link_to_add_association 'Add Event', f, :contributiontocsiindserviceawards , class: "form-button btn btn-primary" %>
        <br></br>
    </div>
    </div>
    
    <div>
    <p class="primary-form-subheading">Role in conducting CSI Events
    (Conference, Seminar, Workshop, Symposium and any other technical events)</p>
    
   			
    
    <br>
    <div class="row">
      <div class="col-md-2"><p class="subform-head"><strong>Date</strong></p></div>
      <div class="col-md-2"><p  class="subform-head"><strong>Name of the Event</strong></p></div>
      <div class="col-md-2"><p class="subform-head"><strong>Type</strong></p></div>
      <div class="col-md-2"><p  class="subform-head"><strong>Surplus Amount</strong></p></div>
      <div class="col-md-2"><p class="subform-head"><strong>Role played by Applicant</strong></p></div>
      <div class="col-md-2"><p  class="subform-head"><strong># quality papers received</strong></p></div>
     
      
      
    </div>
    
    <%= f.fields_for :roleincsieventindserviceawards do |i| %>
    
      <%= render 'roleincsieventindserviceaward_fields', f: i %>
   
    <% end %>
    
    
    <div class="links col-md-12">
      <br>
        <%= link_to_add_association 'Add Event', f, :roleincsieventindserviceawards , class: "form-button btn btn-primary" %>
         <br></br>
    </div>
    </div>
    
    
    
   
    <!--end of sub forms-->
    
        
       
    <div class="row">
       <br>
      <div class="form-group col-md-3">
      <%= f.label :role_in_csi_membership_promotion_in_chapter , "Role in promotion of CSI mebership"  %>
      <%= f.select(:role_in_csi_membership_promotion_in_chapter, options_for_select([
          ['Individual Membership', 'Individual Membership'], 
          ['Academic Institutional Membership / Student Branches', 'Academic Institutional Membership / Student Branches'],
          ['Non Academic Institutional Membership (Corporate Membership)',
          'Non Academic Institutional Membership (Corporate Membership)']]), {}, {class: "form-control"}) %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :membership_in_other_societies  %>
      <%= f.text_area :membership_in_other_societies , required: true  , class: "form-control"%>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :publication_details  %>
      <%= f.text_area :publication_details  , required: true , class: "form-control"%>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :other_info  %>
      <%= f.text_area :other_info  , class: "form-control"%>
    </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-5 col-md-2">
            <%= f.submit "Submit" , class: "btn btn-success btn-lg" %>
        </div>
    </div>
    
<% end %>   
