<div class="row">
<div class="nested-fields">
    

<div class="form-group sf col-md-2">
        
        <%= f.date_field :date_of_event, required: true  , class: "form-control"%>
</div>
<div class="form-group sf col-md-2">
       
        <%= f.text_field :name_of_event , required: true , class: "form-control"%>
</div>
<div class="form-group sf col-md-2">
      
        <%= f.select(:type_of_event, options_for_select([
          ['Regional', 'Regional'], 
          ['National', 'National'],
          ['International','International)']]), {}, {class: "form-control"}) %>
</div>
<div class="form-group sf col-md-2">
       
        <%= f.text_field :surplus_amount , required: true , class: "form-control"%>
</div>
<div class="form-group sf col-md-2">
        
        <%= f.text_field :role , required: true , class: "form-control"%>
</div>
<div class="form-group sf col-md-1">
       
        <%= f.text_field :no_of_paper_received , type: "number",
      min: "0" ,max: "1000", maxlength: "4" , required: true , class: "form-control"%>
</div>

<div class="form-group sf col-md-1 remove-sub-form-button">
   <%= link_to_remove_association "Remove", f, class: "form-button btn btn-danger" %> 
</div>

</div>
</div>