<h1 id="submitted-awards">Submitted Awards</h1>

<h3>ACADEMIC AWARDS - STUDENT BRANCH</h3>

<p><%= link_to "Best Accredited Student Branch" , bestaccreditedstudentbranches_path %></p>

<p><%= link_to "Best CSI International Students Event Host" , bestcsiinternationalstudentseventhosts_path %></p>

<p><%= link_to "Highest Sponsorship of CSI Event" , highestsponsorshipofcsievents_path %></p>

<p><%= link_to "Longest Continuous SBC" , longestcontinuoussbcs_path %></p>

<p><%= link_to "Students with maximum publishing – CSI publications" , studentmaxpublishings_path %></p>

<p><%= link_to "Highest Committed Student Branch Activist" , studentbranchactivists_path %></p>

<h3>ACADEMIC AWARDS - INDIVIDUAL</h3>

<p><%= link_to "Faculty with maximum publishing in CSI Publications" , facmaxpublishings_path %></p>

<p><%= link_to "Paper Presenter at International Conference for Faculty" , paperpresenters_path %></p>

<p><%= link_to "Best Ph D Thesis" , bestthesisawards_path %></p>

<h3>SERVICE AWARDS</h3>

<p><%= link_to "Best Regional Chapter" , regionalchapterawards_path %></p>

<p><%= link_to "Best Service Awards (Individual)" , individualserviceawards_path %></p>

<p><%= link_to "Best Chapter Newsletter" , newsletterawards_path %></p>

































