
<%= render 'shared/errors', object: @bestaccreditedstudentbranch %>

<%= form_for @bestaccreditedstudentbranch, :html => {:class => "form-horizontal"} do |f| %>
<p class="form-detail">(Awarded to the branch for ‘Best Performance’  during 01/07/2015 to 30/06/2016)</p>    
     
    <div class="primary-form">
    <div class="row institution-details">
      <!--institution details-->
    <p class="primary-form-subheading">Institution Details</p>
    
    <div class="form-group col-md-6">
     <label>Institution Name</label>
     <input type="text" class="form-control" id="name" value="<%= current_sbc_user_data.institute.name %>" disabled>     
    </div>
    <div class="form-group col-md-6">
      <label>Postal Address</label>
      <input type="text" class="form-control" id="address" value="
      <% unless current_sbc_user_data.institute.address.nil? %>
      <%= current_sbc_user_data.institute.address %>
      <% else %>
      <%= "Not available" %>
      <% end %>
      " disabled> 
    </div>
    <div class="form-group col-md-4">
      <%= f.label :imno , "IMNO" %>
      <%= f.text_field :imno , value: current_sbc_user_data.institute.imno,
      required: true , readonly: true ,class: "form-control" , id:"imno"%>
    </div>
    
    
    
    
    <div class="form-group col-md-4">
      <label>City</label>
      <input type="text" class="form-control" id="city" value="<%= current_sbc_user_data.institute.city %>" disabled> 
    </div>
   
    
    
   
    <div class="form-group col-md-4">
      <%= f.label :volunteers_added  , "# CSI Volunteers added - 2016-17 " %>
      <%= f.text_field :volunteers_added , required: true , type: "number",
      min: "0" ,max: "9999", maxlength: "4", class: "form-control" %>
    </div>
    </div>
     <!--form specific details-->
    
    <div class="row">
        
    <div class="col-md-6 accredited-subform">
    <p class="primary-form-subheading">Details of different programs organised</p>
    
    <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Title</th>
        <th>No.of activities organised</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Expert Lecture</td>
        <td class="form-group col-md-4">
        
          <%= f.text_field :program_organised_expert_lecture_no_of_activities ,
          required: true , type: "number",  min: "0" ,max: "100", maxlength: "3", class: "form-control"%>
        
        </td>
      </tr>
      <tr>
        <td>Seminars / Technical workshop</td>
        <td class="form-group col-md-4">
          <%= f.text_field :program_organised_seminars_workshops_no_of_activities ,required: true , type: "number",
            min: "0" ,max: "100", maxlength: "3" , class: "form-control"%>
        </td>
      </tr>
      <tr>
        <td>Short term training program</td>
        <td class="form-group col-md-4">
         <%= f.text_field :program_organised_short_term_training_program_no_of_activities ,required: true , type: "number",
           min: "0" ,max: "100", maxlength: "3" , class: "form-control"%>
       
        </td>
      </tr>
      <tr>
        <td>Inter college Symposium</td>
        <td class="form-group col-md-4">
            <%= f.text_field :program_organised_symposium_no_of_activities , required: true , type: "number",
              min: "0" ,max: "100", maxlength: "3" , class: "form-control"%>
        
        </td>
      </tr>
      <tr>
        <td>Motivational talks</td>
        <td class="form-group col-md-4">
            <%= f.text_field :program_organised_motivational_talks_no_of_activities ,required: true , type: "number",
            min: "0" ,max: "100", maxlength: "3" , class: "form-control"%>
       
        </td>
      </tr>
    </tbody>
  </table>
    
    
    </div>
    
    
    <div class="col-md-6 accredited-subform">  
    <p class="primary-form-subheading">Student Branch Membership</p>
    <div class="form-group col-md-8">
      <%= f.label :student_branch_membership_institution_category , "Institution Category" %>
      <%= f.select(:student_branch_membership_institution_category, options_for_select([
          ['Engineering Institute', 'Engineering Institute'], 
          ['MCA Institute', 'MCA Institute'],
          ['MBA Institute','MBA Institute'],
          ['Arts & Science College', 'Arts & Science College'],
          ['Polytechnic Institution', "Polytechnic Institution"]]), {}, {class: "form-control"}) %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :student_branch_membership_no_of_volunteers , "# Volunteers" %>
      <%= f.text_field :student_branch_membership_no_of_volunteers  , required: true , type: "number",
              min: "0" ,max: "100", maxlength: "3", class: "form-control"%>
    </div>
    
    <p class="primary-form-subheading">Competitions and Contests organised</p>
    
    
    <div class="form-group col-md-12">
      <div class="col-md-8">
      <label id="competitions">No of competitions held for students (Web Design ,Programming Contest,Technical Quiz,Technical Paper Contest)</label>
      </div>
    <div  class="col-md-4">
      <%= f.text_field :number_of_contests_organised_for_students  , required: true , type: "number",
              min: "0" ,max: "100", maxlength: "3", class: "form-control", id: "competitions-input"%>
    </div>          
    </div>
     
    
    
      
    <p class="primary-form-subheading">Convention/Conference organised</p>
    
    <div class="form-group col-md-8">
      <%= f.label :convention_seminar_type , "Type" %>
      <%= f.select(:convention_seminar_type, options_for_select([
          ['National/Regional/State Student Convention', 'National/Regional/State Student Convention'], 
          ['National Level Seminar/Conference', 'National Level Seminar/Conference']]), {}, {class: "form-control"}) %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :convention_seminar_no_of_events_organised , "# Events" %>
      <%= f.text_field :convention_seminar_no_of_events_organised , required: true , type: "number",
              min: "0" ,max: "100", maxlength: "3" , class: "form-control"%>
    </div>
    
    
   
    </div>
    </div>

    
    <div class="row">
    <div class="col-md-6 accredited-subform">   
    <p class="primary-form-subheading">No. of Faculties as CSI memebers</p>
    
    
    <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th><%= f.label :no_of_faculty_as_csi_members_institution_category , "Institution Category" %></th>
        <th>Life memebers</th>
        <th>Annual memebers</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="form-group col-md-6"> 
        <%= f.select(:no_of_faculty_as_csi_members_institution_category, options_for_select([
          ['Engineering Institute', 'Engineering Institute'], 
          ['MCA Institute', 'MCA Institute'],
          ['MBA Institute','MBA Institute'],
          ['Arts & Science College', 'Arts & Science College'],
          ['Polytechnic Institution', "Polytechnic Institution"]]), {}, {class: "form-control"}) %>
        </td>
        <td class="form-group col-md-3">
            <%= f.text_field :no_of_faculty_as_csi_members_life , required: true , type: "number",
              min: "0" ,max: "100", maxlength: "3" , class: "form-control"%>
        </td>
        <td class="form-group col-md-3">
            <%= f.text_field :no_of_faculty_as_csi_members_annual , required: true , type: "number",
              min: "0" ,max: "100", maxlength: "3" , class: "form-control"%>
        </td>
      </tr>
      
    </tbody>
    </table>
    
    <div class="form-group col-md-12">
      <div class="col-md-8">
      <%= f.label :managing_committee_elected , "Managing Committee Elected during the year ?" %>
      </div>
      <div class="col-md-4">
      <%= f.select(:managing_committee_elected, options_for_select([
          ['Yes', 'Yes'], 
          ['No', 'No']]), {}, {class: "form-control"}) %>
          </div>
    </div>
    
    </div>
    
    <div class="col-md-6 accredited-subform">
    <p class="primary-form-subheading">Website for Student Branch</p>
    
    <div class="form-group col-md-12">
      <%= f.label :student_branch_website_url , "Website URL of CSI Student Branch" %>
      <%= f.text_field :student_branch_website_url , type: "url" ,title: "Please enter a valid URL" , class: "form-control"%>
    </div>
   

    
    <div class="form-group col-md-8">
      <%= f.label :newsletter_type , "Technical Newsletter Type" %>
      <%= f.select(:newsletter_type, options_for_select([
          ['Print Version', 'Print Version'], 
          ['Electronic Version', 'Electronic Version']]), {}, {class: "form-control"}) %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :no_of_issues_published_in_newsletter , "# Issues Published" %>
      <%= f.text_field :no_of_issues_published_in_newsletter  , required: true , type: "number",
              min: "0" ,max: "100", maxlength: "3", class: "form-control"%>
    </div>
    </div>
    </div>
    
    <br>
    
     <div>
        <%= f.label :attachment, "Upload Your Data in Zip file:" %>
        <%= f.filepicker_field :attachment %> <!-- User#avatar_url is a regular string column -->
      </div>
    
    <div class="form-group">
        <div class="col-md-offset-5 col-md-2">
            <%= f.submit "Submit" , class: "btn btn-success btn-lg" %>
        </div>
    </div>
    
<% end %>   
