<%= render 'shared/errors', object: @facmaxpublishing %>

<%= form_for @facmaxpublishing, :html => {:class => "form-horizontal"} do |f| %>
<p class="form-detail">(Awarded to CSI member Faculty who published maximum articles  - at least 3 - in CSI Publications 
during 01/07/2016 to 30/06/2017) 
</p>  

    
    
    <!--form specific details-->
    
    <div class="row">
      <p class="primary-form-subheading">Faculty Details</p>  
    <div class="form-group col-md-3">
      <%= f.label :faculty_name , "Name"%>
      <%= f.text_field :faculty_name  ,  required: true, class: "form-control" %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :candidate_csi_membership_no , "CSI Mem.No" %>
      <%= f.text_field :candidate_csi_membership_no  , required: true , class: "form-control" %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :valid_till , "Valid Till" %>
      <%= f.date_field :valid_till , required: true , class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :faculty_email , "Email" %>
      <%= f.email_field :faculty_email , required: true , type: "email", class: "form-control" %>
    </div>
    
    
    <!--remove this field from db -->
    
    
    <div class="form-group col-md-2">
      <%= f.label :has_student_branch , "Has Student Branch" %>
      <%= f.check_box :has_student_branch , class: "form-control" %>
    </div>
     <p class="proof"><strong>Attach Passport size Photo of the candidate</strong></p>
    </div>
    
    <p class="primary-form-subheading">Details of publishing in CSIC by the nominated Faculty</p>
    
    <br>
    <div class="row">
      <div class="col-md-4"><p class="subform-head"><strong>Article Title</strong></p></div>
      <div class="col-md-3"><p  class="subform-head"><strong>Published in (CSIC / Journal)</strong></p></div>
      <div class="col-md-4"><p><strong>Month & year of publishing</strong></p></div>
    </div>
    
    <%= f.fields_for :publishingdetailbyfaculties do |i| %>
      <%= render 'publishingdetailbyfaculty_fields', f: i %>
      
    <% end %>
    
    <div class="links col-md-12">
      <br>
        <%= link_to_add_association 'Add Event', f, :publishingdetailbyfaculties , class: "form-button btn btn-primary" %>
    </div>
    
   <p class="proof fifthform"><strong>(Table may be ex
   tended as required. Attach copy of articles as published in CSI Publications) *</strong></p>
    
     <p class="proof"><strong>Upload All the attachments in a <strong>single zip</strong> file in the link below</strong></p>
     <br>
      <div>
        
<%= f.label :attachment %>
        
<%= f.filepicker_field :attachment %> <!-- User#avatar_url is a regular string column -->
    
  </div>
     

    <div class="form-group">
        <div class="col-md-offset-5 col-md-2">
            <%= f.submit "Submit" , class: "btn btn-success btn-lg" %>
        </div>
    </div>
    
<% end %>   
