
<%= render 'shared/errors', object: @newsletteraward %>

<%= form_for @newsletteraward, :html => {:class => "form-horizontal"} do |f| %>

     
   <div class="row">
    
    
    <div class="form-group col-md-12">
      
      <%= f.label :imno , "Chapter" %>
      <%= f.text_field :chapter , value:current_chairman_user_data.chapter_name,
      required: true , readonly: true ,class: "form-control" , id:"imno"%>
<br>
  
   </div>
   
 <div class="container"> 
    <!--sub form details-->
    <div class="col-md-12">
    <p class="primary-form-subheading">Details of Chapter News Letter Published during 1st April 2016 to 31st March 2017</p>
    

    <br>
    <div class="row">
      <div class="col-md-4"><p class="subform-head"><strong>Date of Publication</strong></p></div>
      <div class="col-md-4"><p  class="subform-head"><strong>Title / Theme of the Newsletter</strong></p></div>
      <div class="col-md-4"><p  class="subform-head"><strong>Remarks</strong></p></div>
     
      
      
   
    <%= f.fields_for :detailsfornewsletterawards do |i| %>
    
      <%= render 'detailsfornewsletteraward_fields', f: i %>
   
    <% end %>
    
    
    <div class="links col-md-12">
      <br>
        <%= link_to_add_association 'Add Event', f, :detailsfornewsletterawards , class: "form-button btn btn-primary" %>
        <br></br>
    </div>
    </div>
    </div>
    <!--end of sub forms-->
    <div class="row">
    
    <div class="form-group col-md-12 ">
      <%= f.label :other_info ,"Other Relevant Information "  %>
      <%= f.text_area :other_info  , class: "form-control"%>
    </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-5 col-md-2">
            <%= f.submit "Submit" , class: "btn btn-success btn-lg" %>
        </div>
    </div>
    </div> 
    </div>
<% end %>   
