
<%= render 'shared/errors', object: @studentbranchactivist %>

<%= form_for @studentbranchactivist, :html => {:class => "form-horizontal"} do |f| %>
 <p class="form-detail">(Awarded to the CSI Volunteer who was most active at
 CSI Student Branch during 01/07/2016 to 30/06/2017) </p>     
    <p class="primary-form-subheading">Institution Details</p> 
    <div class="row institution-details">
    <div class="form-group col-md-5">
     <label>Institution Name</label>
     <input type="text" class="form-control" id="name" value="<%= current_sbc_user_data.institute.name %>" disabled>     
    </div>
   
    <div class="form-group col-md-2">
      <%= f.label :imno , "Institution Number" %>
      <%= f.text_field :imno , value: current_sbc_user_data.institute.imno,
      required: true , readonly: true ,class: "form-control" , id:"imno"%>
    </div>
    
    
    <div class="form-group col-md-2">
      <label>City</label>
      <input type="text" class="form-control" id="city" value="<%= current_sbc_user_data.institute.city %>" disabled> 
    </div>
    
 
    
    <div class="form-group col-md-3">
      <label>Head of the Institution</label>
      <input type="text" class="form-control" id="na" value="
      <% unless current_sbc_user_data.institute.nominating_authority.nil? %>
      <%= current_sbc_user_data.institute.nominating_authority %>
      <% else %>
      <%= "Not available" %>
      <% end %>
      " disabled> 
    </div>
    
   
    
    
    
    <!--sbc details-->
    <p class="primary-form-subheading">SBC Details</p>    
  
   <div class="form-group col-md-3">
      <label>Name</label>
      <input type="text" class="form-control" id="sbc-name" value="<%= current_sbc_user_data.sbc_name %>" disabled>
    </div>
    
  
    <div class="form-group col-md-3">
      <label>Email</label>
      <input type="email" class="form-control" id="sbc-email" value="<%= current_sbc_user_data.sbc_email %>" disabled> 
    </div>
    
     <div class="form-group col-md-3">
      <label>Volunteers</label>
      <input type="text" class="form-control" id="volunteers" title="Number of CSI Volunteers as on 30th  June  2017" 
      value="<%= current_sbc_user_data.no_of_volunteers %>" disabled> 
    </div>
    <div class="form-group col-md-3">
      <%= f.label :volunteers_added  , "# CSI Volunteers added - 2016-17 " %>
      <%= f.text_field :volunteers_added , required: true , type: "number",
      min: "0" ,max: "100", maxlength: "3", title: "Number of CSI Volunteers added during  July 2017 – June 2018", class: "form-control" %>
    </div>

    
    
     <!--form specific details-->
    
    <p class="primary-form-subheading">Volunteer Details</p>  
      
    <div class="form-group col-md-3">
      <%= f.label :csi_volunteer_name , "Name" %>
      <%= f.text_field :csi_volunteer_name ,  required: true, class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :csi_volunteer_email  , "Email" %>
      <%= f.email_field :csi_volunteer_email ,  required: true , type: "email", class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :csi_volunteer_id , "CSI Mem.Id" %>
      <%= f.text_field :csi_volunteer_id  ,  required: true, class: "form-control" %>
    </div>
    
    <div class="form-group col-md-3">
      <%= f.label :valid_till  , "Id Valid Till" %>
      <%= f.date_field :valid_till ,  required: true, class: "form-control" %>
    </div>
   
     <p class="proof"><strong>Attach Passport size Photo of the candidate</strong></p>
    
    
   <p class="primary-form-subheading">Event Details:</p>  
    
    <br>
    <div class="row">
      <div class="col-md-3"><p class="subform-head"><strong>Event name</strong></p></div>
      <div class="col-md-3"><p  class="subform-head"><strong>Event held at which Place</strong></p></div>
      <div class="col-md-6"><p><strong>Role played</strong></p></div>
      
    </div>

    <%= f.fields_for :eventdetailsbystudentactivists do |i| %>
      <%= render 'eventdetailsbystudentactivist_fields', f: i %>
      
    <% end %>
    
    <div class="links col-md-12">
        <br>
        <%= link_to_add_association 'Add Event', f, :eventdetailsbystudentactivists , class: "form-button btn btn-primary" %>
    </div>
    
    <p class="proof fifthform"><strong>(Table may be extended as required. Attach 
    copies of event brochure / invitation, photos taken at the events etc) *</strong></p>
    
     <p class="proof"><strong>Upload All the attachments in a <strong>single zip</strong> file in the link below</strong></p>
     <br>
    <div>
        
<%= f.label :attachment %>
        
<%= f.filepicker_field :attachment %> <!-- User#avatar_url is a regular string column -->
    
  </div>
    
    <div class="form-group">
        <div class="col-md-offset-5 col-md-2">
            <%= f.submit "Submit" , class: "btn btn-primary btn-lg" %>
        </div>
    </div>
    
<% end %>   