<%= render 'shared/errors', object: @studentmaxpublishing %>

<%= form_for @studentmaxpublishing, :html => {:class => "form-horizontal"} do |f| %>
<p class="form-detail">(Awarded to CSI Volunteer who published maximum articles in CSI Publications 
during 01/07/2016 to 30/06/2017) 
</p>      
    <div class="primary-form">
    <p class="primary-form-subheading">Institution Details</p> 
    <div class="row institution-details">
    <div class="form-group col-md-5">
     <label>Institution Name</label>
     <input type="text" class="form-control" id="name" value="<%= current_sbc_user_data.institute.name %>" disabled>     
    </div>
    
   <div class="form-group col-md-2">
      <%= f.label :imno , "Institution Number" %>
      <%= f.text_field :imno , value: current_sbc_user_data.institute.imno,
      required: true , readonly: true ,class: "form-control" , id:"imno"%>
    </div>
    
    
    <div class="form-group col-md-2">
      <label>City</label>
      <input type="text" class="form-control" id="city" value="<%= current_sbc_user_data.institute.city %>" disabled> 
    </div>
   
   
    
    <div class="form-group col-md-3">
      <label>Head of the Institution</label>
      <input type="text" class="form-control" id="na" value="
      <% unless current_sbc_user_data.institute.nominating_authority.nil? %>
      <%= current_sbc_user_data.institute.nominating_authority %>
      <% else %>
      <%= "Not available" %>
      <% end %>
      " disabled> 
    </div>
    
    
    
    
    
    <!--sbc details-->
    <p class="primary-form-subheading">SBC Details</p>    
  
        <div class="form-group col-md-6">
      <label>Name</label>
      <input type="text" class="form-control" id="sbc-name" value="<%= current_sbc_user_data.sbc_name %>" disabled>
    </div>
    
  
    <div class="form-group col-md-6">
      <label>Email</label>
      <input type="email" class="form-control" id="sbc-email" value="<%= current_sbc_user_data.sbc_email %>" disabled> 
    </div>
   
    
    
    
     <!--form specific details-->
    
    
    
   
    <p class="primary-form-subheading">Volunteer Details</p>
    <div class="form-group col-md-3">
      <%= f.label :csi_volunteer_name ,"Name" %>
      <%= f.text_field :csi_volunteer_name ,  required: true, class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :csi_volunteer_email ,"Email"  %>
      <%= f.email_field :csi_volunteer_email ,  required: true ,type: "email", class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :csi_volunteer_id , "CSI Mem.Id" %>
      <%= f.text_field :csi_volunteer_id ,  required: true, class: "form-control" %>
    </div>
    
    <div class="form-group col-md-3">
      <%= f.label :valid_till , "Id Valid Till" %>
      <%= f.date_field :valid_till ,  required: true, class: "form-control" %>
    </div>
    
     <p class="proof"><strong>Attach Passport size Photo of the candidate</strong></p>
    </div>
    </div>
    
    <p class="primary-form-subheading">Details of publishing in CSIC by nominated student:</p>  
    
    
    <br>
    <div class="row">
      <div class="col-md-2"><p class="subform-head"><strong>No. of articles published</strong></p></div>
      <div class="col-md-3"><p  class="subform-head"><strong>Article title</strong></p></div>
      <div class="col-md-4"><p><strong>Published in</strong></p></div>
      <div class="col-md-2"><p><strong>Month of publishing</strong></p></div>
    </div>

    <%= f.fields_for :publishingdetailbystudents do |i| %>
      <%= render 'publishingdetailbystudent_fields', f: i %>
      
    <% end %>
    
    <div class="links col-md-12">
        <br>
        <%= link_to_add_association 'Add Event', f, :publishingdetailbystudents , class: "form-button btn btn-primary" %>
    </div>
    
    <p class="proof fifthform"><strong>(Table may be
    extended as required. Attach copy of articles as published in CSIC / CSI Journal of Computing) *</strong></p>
    
     <p class="proof"><strong>Upload All the attachments (including photo) in a <strong>single zip</strong> 
    file in the link below , zip file size should be less than 20mb</strong></p>
     <br>
    <div>
        
<%= f.label :attachment %>
        
<%= f.filepicker_field :attachment , {mimetypes: "application/zip, application/octet-stream" , button_text: "Upload One Zip File" } %> <!-- User#avatar_url is a regular string column -->
    
  </div>
    
    <div class="form-group">
        <div class="col-md-offset-5 col-md-2">
            <%= f.submit "Submit" , class: "btn btn-primary btn-lg" %>
        </div>
    </div>
    
<% end %>   
