<%= render 'shared/errors', object: @studentmaxpublishing %>

<%= form_for @studentmaxpublishing, :html => {:class => "form-horizontal"} do |f| %>
    
    <div class="form-group">
     <label>Institution Name</label>
     <input type="text" class="form-control" id="name">   
    </div>
    <div class="form-group">
      <%= f.label :imno , "Institution Membership Number" %>
      <%= f.text_field :imno  , class: "form-control" , id:"imno"%>
    </div>
    
    
    <div class="row">
    <div class="form-group col-md-3">
      <label>Postal Address</label>
      <input type="text" class="form-control" id="address"> 
    </div>
    <div class="form-group col-md-3">
      <label>District</label>
      <input type="text" class="form-control" id="district"> 
    </div>
    <div class="form-group col-md-2">
      <label>City</label>
      <input type="text" class="form-control" id="city"> 
    </div>
    <div class="form-group col-md-2">
      <label>Pin</label>
      <input type="text" class="form-control" id="pin"> 
    </div>
    <div class="form-group col-md-2">
      <label>State</label>
      <input type="text" class="form-control" id="state"> 
    </div>
    </div>
    
     <!--nominating authority-->
    
    <div class="row">
    <div class="form-group col-md-4">
      <label>Name of the Head of the Institution</label>
      <input type="text" class="form-control" id="na"> 
    </div>
    
    <div class="form-group col-md-4">
      <label>NA Phone number</label>
      <input type="text" class="form-control" id="na-phone"> 
    </div>
    <div class="form-group col-md-4">
      <label>NA Email</label>
      <input type="email" class="form-control" id="na-email"> 
    </div>
    </div>
    
    
    <div class="row">
    <div class="form-group col-md-3">
      <label>SBC Name</label>
      <input type="text" class="form-control" id="sbc-name"> 
    </div>
    
    <div class="form-group col-md-3">
      <label>SBC CSI Imno</label>
      <input type="text" class="form-control" id="sbc-imno"> 
    </div>
    <div class="form-group col-md-3">
      <label>SBC Email</label>
      <input type="email" class="form-control" id="sbc-email"> 
    </div>
    <div class="form-group col-md-3">
      <label>SBC Phonenumber</label>
      <input type="text" class="form-control" id="sbc-phone"> 
    </div>
    </div>
    
    
    
     <!--form specific details-->
    
    <div class="row">
      
    <div class="form-group col-md-3">
      <%= f.label :csi_volunteer_name %>
      <%= f.text_field :csi_volunteer_name , class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :csi_volunteer_email %>
      <%= f.email_field :csi_volunteer_email , class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :csi_volunteer_id , "csi_volunteer_id" %>
      <%= f.text_field :csi_volunteer_id , class: "form-control" %>
    </div>
    
    <div class="form-group col-md-3">
      <%= f.label :valid_till %>
      <%= f.date_field :valid_till , class: "form-control" %>
    </div>
    
    </div>
    
    
    <p class="sub-form-title">Details of publishing in CSIC by nominated student:</p>

    <%= f.fields_for :publishingdetailbystudents do |i| %>
      <%= render 'publishingdetailbystudent_fields', f: i %>
      
    <% end %>
    
    <div class="links col-md-12">
        <%= link_to_add_association 'Add Event', f, :publishingdetailbystudents , class: "form-button btn btn-primary" %>
    </div>
    
    
    <div class="form-group">
        <div class="col-md-offset-5 col-md-2">
            <%= f.submit "Submit" , class: "btn btn-primary btn-lg" %>
        </div>
    </div>
    
<% end %>   
