<%= render 'shared/errors', object: @studentmaxpublishing %>

<%= form_for @studentmaxpublishing, :html => {:class => "form-horizontal"} do |f| %>
    
    <div class="primary-form">
    <p class="primary-form-subheading">Institution Details</p> 
    <div class="row institution-details">
    <div class="form-group col-md-6">
     <%= f.fields_for :institute, @institute do |institute| %>
      <label>Name</label>
      <%= institute.autocomplete_field :name, autocomplete_institute_name_institutes_path ,id: "name" , class: "form-control" %>
     <% end %>   
    </div>
    <div class="form-group col-md-6">
      <label>Postal Address</label>
      <input type="text" class="form-control" id="address"> 
    </div>
    <div class="form-group col-md-2">
      <%= f.label :imno , "IMNO" %>
      <%= f.text_field :imno  , class: "form-control" , id:"imno"%>
    </div>
    
    <div class="form-group col-md-1">
      <label>valid_till</label>
      <input type="text" class="form-control" id="valid_till"> 
    </div>
    <div class="form-group col-md-3">
      <label>District</label>
      <input type="text" class="form-control" id="district"> 
    </div>
    <div class="form-group col-md-3">
      <label>City</label>
      <input type="text" class="form-control" id="city"> 
    </div>
    <div class="form-group col-md-3">
      <label>Pin</label>
      <input type="text" class="form-control" id="pin"> 
    </div>
    <div class="form-group col-md-3">
      <label>State</label>
      <input type="text" class="form-control" id="state"> 
    </div>
    
    <div class="form-group col-md-3">
      <label>Head of the Institution</label>
      <input type="text" class="form-control" id="na"> 
    </div>
    
    <div class="form-group col-md-3">
      <label>Phone number</label>
      <input type="text" class="form-control" id="na-phone"> 
    </div>
    <div class="form-group col-md-3">
      <label>Email</label>
      <input type="email" class="form-control" id="na-email"> 
    </div>
    
    
    
    <!--sbc details-->
    <p class="primary-form-subheading">SBC Details</p>    
  
    <div class="form-group col-md-3">
      <label>Name</label>
      <input type="text" class="form-control" id="sbc-name"> 
    </div>
    
    <div class="form-group col-md-3">
      <label>Mem.No</label>
      <input type="text" class="form-control" id="sbc-imno"> 
    </div>
    <div class="form-group col-md-3">
      <label>Email</label>
      <input type="email" class="form-control" id="sbc-email"> 
    </div>
    <div class="form-group col-md-3">
      <label>Phonenumber</label>
      <input type="text" class="form-control" id="sbc-phone"> 
    </div>
   
    
    
    
     <!--form specific details-->
    
    
    
   
    <p class="primary-form-subheading">Volunteer Details</p>
    <div class="form-group col-md-3">
      <%= f.label :csi_volunteer_name ,"Name" %>
      <%= f.text_field :csi_volunteer_name , class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :csi_volunteer_email ,"Email"  %>
      <%= f.email_field :csi_volunteer_email , class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :csi_volunteer_id , "CSI Mem.Id" %>
      <%= f.text_field :csi_volunteer_id , class: "form-control" %>
    </div>
    
    <div class="form-group col-md-3">
      <%= f.label :valid_till , "Id Valid Till" %>
      <%= f.date_field :valid_till , class: "form-control" %>
    </div>
    
    
    </div>
    </div>
    
    <p class="primary-form-subheading">Details of publishing in CSIC by nominated student:</p>  
    
    
    <br>
    <div class="row">
      <div class="col-md-3"><p class="subform-head"><strong>No. of articles published</strong></p></div>
      <div class="col-md-2"><p  class="subform-head"><strong>Article title</strong></p></div>
      <div class="col-md-4"><p><strong>Published in (CSIC / Journal / Adhyayan)</strong></p></div>
      <div class="col-md-3"><p><strong>Month of publishing</strong></p></div>
    </div>

    <%= f.fields_for :publishingdetailbystudents do |i| %>
      <%= render 'publishingdetailbystudent_fields', f: i %>
      
    <% end %>
    
    <div class="links col-md-12">
        <br>
        <%= link_to_add_association 'Add Event', f, :publishingdetailbystudents , class: "form-button btn btn-primary" %>
    </div>
    
    
    <div class="form-group">
        <div class="col-md-offset-5 col-md-2">
            <%= f.submit "Submit" , class: "btn btn-primary btn-lg" %>
        </div>
    </div>
    
<% end %>   
