
<div class="row">
<div class="nested-fields">
    

<div class="form-group sf col-md-2">
        <!--verify this field-->
        <%= f.text_field :no_of_articles_published , required: true , type: "number",
      min: "0" ,max: "100", maxlength: "3", class: "form-control" %>
</div>
<div class="form-group sf col-md-3">
       
        <%= f.text_field :article_title ,  required: true, class: "form-control" %>
</div>
<div class="form-group sf col-md-3">
        
        <%= f.text_field :published_in,  required: true, class: "form-control" %>
</div>
<div class="form-group sf col-md-3">
        
        <%= f.date_field :date_of_publishing ,  required: true, class: "form-control" %>
</div>


<div class="form-group sf col-md-1 remove-sub-form-button">
   <%= link_to_remove_association "Remove", f, class: "form-button btn btn-danger" %> 
</div>



</div> 

</div>