<%= render "nav" %>

<h1 align="center" id="award-banner"></h1>

<div class="container">

<div class="row">    
<div class="col-md-5 award-area"> 

<% if user_signed_in? && is_sbc? %>
<h4 class="award-head"align="center">ACADEMIC AWARDS - STUDENT BRANCH</h4>
<div class="award-title">
    <p><%= link_to "Best Accredited Student Branch " , new_bestaccreditedstudentbranch_path %> </p>
</div>

<div class="award-title">
    <p><%= link_to "Best CSI International Students Event Host " , new_bestcsiinternationalstudentseventhost_path %> </p>
</div>

<div class="award-title">
    <p><%= link_to "Highest Sponsorship of CSI Event " , new_highestsponsorshipofcsievent_path %> </p>
</div>

<div class="award-title">
    <p><%= link_to "Longest Continuous SBC " ,new_longestcontinuoussbc_path %> </p>
</div>
<div class="award-title">
    <p><%= link_to "Students with maximum publishing – CSI publications" ,new_studentmaxpublishing_path %> </p>
</div>

<div class="award-title">
    <p><%= link_to "Highest Committed Student Branch Activist " ,new_studentbranchactivist_path %> </p>
</div>
<% end %>

<h4 class="award-head"align="center">ACADEMIC AWARDS - INDIVIDUAL</h4>
<% if user_signed_in?  %>
<div class="award-title">
    <p><%= link_to "Faculty with maximum publishing  in CSI Publications" ,new_facmaxpublishing_path %> </p>
</div>
<div class="award-title">
    <p><%= link_to "Paper Presenter at International Conference for Faculty" ,new_paperpresenter_path %> </p>
</div>
<div class="award-title">
    <p><%= link_to "Best Ph D Thesis " ,new_bestthesisaward_path %> </p>
</div>
<% end %>
</div>

<div class="col-md-5 award-area">  
<h4  class="award-head servie-awards" align="center">SERVICE AWARDS</h4>
<% if user_signed_in?  %>
<div class="award-title">
    <p><%= link_to "Best Regional Chapter " , new_regionalchapteraward_path %> </p>
</div>

<div class="award-title">
    <p><%= link_to "Best Service Awards (Individual)" , new_individualserviceaward_path %> </p>
</div>

<div class="award-title">
    <p><%= link_to "Best Chapter Newsletter " , new_newsletteraward_path %> </p>
</div>
<% end %>

</div>
</div>

