

<div class="row">



<div class="nested-fields">

<div class="form-group sf col-md-3">
        
       
        <%= f.select(:conference_or_journal, options_for_select([
          ['Conference', 'conference'], 
          
          ['Journal','journal']]), {}, {class: "form-control"}) %>
</div>

<div class="form-group sf col-md-2">
        
      <%= f.text_field :name ,  required: true , class: "form-control" %>
</div>

<div class="form-group sf col-md-2">
        
        <%= f.date_field :date ,max: "2017-06-30", min: "2016-07-01",  required: true , class: "form-control" %>
</div>

<div class="form-group sf col-md-4">
        <!--verify if needed -->
      <%= f.text_field :citation , class: "form-control" %>
</div>


<div class="form-group sf col-md-1 remove-sub-form-button">
   <%= link_to_remove_association "Remove", f, class: "form-button btn btn-danger btn-md" %>
</div>



</div> 
</div>
