
<%= render 'shared/errors', object: @regionalchapteraward %>

<%= form_for @regionalchapteraward, :html => {:class => "form-horizontal"} do |f| %>
   
     
   <div class="row">
    <div class="form-group col-md-8">
     <%= f.label :imno , "Category" %>
      <%= f.text_field :category , value: current_chairman_user_data.category,
      required: true , readonly: true ,class: "form-control" , id:"imno"%>
    </div>
    
    <div class="form-group col-md-4">
      <%= f.label :imno , "Chapter" %>
      <%= f.text_field :chapter , value:current_chairman_user_data.chapter_name,
      required: true , readonly: true ,class: "form-control" , id:"imno"%>
<br>
    </div>
    
    
    <div class="row">
    
    <div class="col-md-8">
      <div class="col-md-6">
       <p class="primary-form-subheading">Membership Count Till March 2016</p>
    <div class="form-group col-md-6">
      <%= f.label :members_number_till_previous_year , "Annual Members  "  %>
      <%= f.text_field :members_number_till_previous_year  , required: true , type: "number",
      min: "0" ,max: "1000", maxlength: "4", class: "form-control"%>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :members_percentage_till_previous_year , "Life Members  " %>
      <%= f.text_field :members_percentage_till_previous_year, required: true   , class: "form-control"%>
    </div>
    </div>
    <div class="col-md-6">
      <p class="primary-form-subheading">Membership Count Till March 2017</p>
    <div class="form-group col-md-6">
      <%= f.label :members_number_till_current_year, "Annual Members"  %>
      <%= f.text_field :members_number_till_current_year , required: true , type: "number",
      min: "0" ,max: "1000", maxlength: "4" , class: "form-control"%>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :members_percentage_till_current_year, "Life Members"  %>
      <%= f.text_field :members_percentage_till_current_year, required: true  , class: "form-control"%>
    </div>
    </div>
    </div>
    
    
     <div class="col-md-4">
        <p class="primary-form-subheading">Student Branches Count</p>
    <div class="form-group col-md-6">
      <%= f.label :student_branch_number_previous_year  , "As on 31-3-2016"  %>
      <%= f.text_field :student_branch_number_previous_year , required: true , type: "number",
      min: "0" ,max: "1000", maxlength: "4" , class: "form-control"%>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :student_branch_number_current_year  , "As on 31-3-2017" %>
      <%= f.text_field :student_branch_number_current_year, required: true   , type: "number",
      min: "0" ,max: "1000", maxlength: "4", class: "form-control"%>
    </div>
    </div>
   </div>
   </div>
   
    <!--sub form details-->
    <br></br>
    <div>
    <p class="primary-form-subheading">Monthly Technical Activities </p>
    
    
    <br>
    <div class="row">
      <div class="col-md-6"><p class="subform-head"><strong>Name of the Activities</strong></p></div>
      <div class="col-md-6"><p  class="subform-head"><strong>Remarks</strong></p></div>
      
      
      
    </div>
    
    <%= f.fields_for :techactivitiesregionalchapterawards do |i| %>
    
      <%= render 'techactivitiesregionalchapteraward_fields', f: i %>
   
    <% end %>
    
    
    <div class="links col-md-12">
      <br>
        <%= link_to_add_association 'Add Event', f, :techactivitiesregionalchapterawards , class: "form-button btn btn-primary" %>
    </div>
    </div>
    
    <div>
    <p class="primary-form-subheading">National/ International / Regional/ Division Event</p>
    
    
    <br>
    <div class="row">
      <div class="col-md-6"><p class="subform-head"><strong>Name of the Activities</strong></p></div>
      <div class="col-md-6"><p  class="subform-head"><strong>Remarks</strong></p></div>
      
      
    </div>
    
    <%= f.fields_for :eventsforregionalchapterawards do |i| %>
    
      <%= render 'eventsforregionalchapteraward_fields', f: i %>
   
    <% end %>
    
    
    <div class="links col-md-12">
      <br>
        <%= link_to_add_association 'Add Event', f, :eventsforregionalchapterawards , class: "form-button btn btn-primary" %>
    </div>
    </div>
    
    <div>
    <p class="primary-form-subheading">Chapter News Letter</p>
    
    
    <br>
    <div class="row">
      <div class="col-md-6"><p class="subform-head"><strong>Date of Publication</strong></p></div>
      <div class="col-md-6"><p  class="subform-head"><strong>Title / Theme of the Newsletter</strong></p></div>
     
      
      
    </div>
    
    <%= f.fields_for :newslettersforregionalchapterawards do |i| %>
    
      <%= render 'newslettersforregionalchapteraward_fields', f: i %>
   
    <% end %>
    
    
    <div class="links col-md-12">
      <br>
        <%= link_to_add_association 'Add Event', f, :newslettersforregionalchapterawards , class: "form-button btn btn-primary" %>
        <br></br>
    </div>
    </div>
    
    <!--end of sub forms-->
    
    <div class="row">
      <div class="col-md-8">
    <p class="primary-form-subheading">Details of Deputed member for National Council & AGM </p>
    <div class="form-group col-md-12">
   
      <%= f.text_area :details_deputed_memeber  , class: "form-control"%>
    </div>
    </div>
    <div class="col-md-4">
    <p class="primary-form-subheading">Other Relevant Information </p>
    <div class="form-group col-md-12">
  
      <%= f.text_area :other_info  , class: "form-control"%>
    </div>
    </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-5 col-md-2">
            <%= f.submit "Submit" , class: "btn btn-success btn-lg" %>
        </div>
    </div>
    
<% end %>   
