
<%= render 'shared/errors', object: @highestsponsorshipofcsievent %>

<%= form_for @highestsponsorshipofcsievent, :html => {:class => "form-horizontal"} do |f| %>
<p class="form-detail">(Awarded to the institutional members that extended maximum support for CSI organised events 
during 01/07/2016 to 30/06/2017) 

</p>      
    
    <div class="row">
      <p class="primary-form-subheading">Institution Details</p>  
    <div class="form-group col-md-6">
     <label>Institution Name</label>
     <input type="text" class="form-control" id="name" value="<%= current_sbc_user_data.institute.name %>" disabled>     
    </div>
  
    <div class="form-group col-md-3">
      <%= f.label :imno , "Institution Number" %>
      <%= f.text_field :imno , value: current_sbc_user_data.institute.imno,
      required: true , readonly: true ,class: "form-control" , id:"imno"%>
    </div>
    
    <div class="form-group col-md-3">
      <label>City</label>
      <input type="text" class="form-control" id="city" value="<%= current_sbc_user_data.institute.city %>" disabled> 
    </div>
    
    
    
    <p class="primary-form-subheading">SBC Details</p>
        <div class="form-group col-md-3">
      <label>Name</label>
      <input type="text" class="form-control" id="sbc-name" value="<%= current_sbc_user_data.sbc_name %>" disabled>
    </div>
    
    
    <div class="form-group col-md-3">
      <label>Email</label>
      <input type="email" class="form-control" id="sbc-email" value="<%= current_sbc_user_data.sbc_email %>" disabled> 
    </div>
 
    
    
      
    <div class="form-group col-md-3">
      <label>Volunteers</label>
      <input type="text" class="form-control" id="volunteers" title="Number of CSI Volunteers as on 30th  June  2017"
      value="<%= current_sbc_user_data.no_of_volunteers %>" disabled> 
    </div>
    <div class="form-group col-md-3">
      <%= f.label :volunteers_added  , "# CSI Volunteers added - 2016-17" %>
      <%= f.text_field :volunteers_added , required: true , type: "number",
      min: "0" ,max: "999", maxlength: "3", title:"Enter the number of Volunteers", class: "form-control" %>
    </div>
    
    </div>
    
    
    <!--nested form-->
    
    
    <p class="primary-form-subheading">Details of support extended for CSI event
    organised by CSI Chapters / Divisions / SIGs <small>(Do not include College organised events)</small>: </p>
    
    <br></br>
    <div class="row">
      
      
      <div class="col-md-2"><p class="subform-head"><strong>Name of the Event</strong></p></div>
      <div class="col-md-2"><p class="subform-head"><strong>Date of the Event</strong></p></div>
      <div class="col-md-3"><p class="subform-head"><strong>Organised By</strong></p></div>
      <div class="col-md-2"><p class="subform-head"><strong>Support Details</strong></p></div>
      <div class="col-md-2"><p ><strong>Monetary Value (INR)</strong></p></div>
    </div>
    

    <%= f.fields_for :supportforcsievents do |i| %>
      <%= render 'supportforcsievent_fields', f: i %>
      
    <% end %>
    
    
    <div class="links col-md-12">
      <br>
        <%= link_to_add_association 'Add Event', f, :supportforcsievents , class: "form-button btn btn-primary" %>
    </div>
    <br>
    <p class="proof thirdform">(Table may be extended as required. Attach document proof such as invitation /
    brochure of the events, photos taken on the occasion etc along with receipts for sponsorship amount paid) *</p>
     <br>
   
    <p class="proof"><strong>Upload All the attachments (including photo) in a <strong>single zip</strong> 
    file in the link below , zip file size should be less than 20mb</strong></p>
  
    <div>
        
<%= f.label :attachment %>
        
<%= f.filepicker_field :attachment %> <!-- User#avatar_url is a regular string column -->
    
  </div>
    
    <div class="form-group">
        <div class="col-md-offset-5 col-md-2">
            <%= f.submit "Submit" , class: "btn btn-success btn-lg" %>
        </div>
    </div>
    
<% end %>   
