
<%= render 'shared/errors', object: @longestcontinuoussbc %>

<%= form_for @longestcontinuoussbc, :html => {:class => "form-horizontal"} do |f| %>
    
    <div class="row">
    <div class="form-group col-md-4">
     <label>Institution Name</label>
     <input type="text" class="form-control" id="name">   
    </div>
    <div class="form-group col-md-4">
      <%= f.label :imno , "Institution Membership Number" %>
      <%= f.text_field :imno  , class: "form-control" , id:"imno"%>
    </div>
    
    
    
    <div class="form-group col-md-4">
      <label>Postal Address</label>
      <input type="text" class="form-control" id="address"> 
    </div>
    <div class="form-group col-md-2">
      <label>District</label>
      <input type="text" class="form-control" id="district"> 
    </div>
    <div class="form-group col-md-2">
      <label>City</label>
      <input type="text" class="form-control" id="city"> 
    </div>
    <div class="form-group col-md-2">
      <label>Pin</label>
      <input type="text" class="form-control" id="pin"> 
    </div>
    <div class="form-group col-md-2">
      <label>State</label>
      <input type="text" class="form-control" id="state"> 
    </div>
   
    
    
    <div class="form-group col-md-4">
      <label>SBC Name</label>
      <input type="text" class="form-control" id="sbc-name"> 
    </div>
    
    <div class="form-group col-md-2">
      <label>SBC CSI Imno</label>
      <input type="text" class="form-control" id="sbc-imno"> 
    </div>
    <div class="form-group col-md-4">
      <label>SBC Email</label>
      <input type="email" class="form-control" id="sbc-email"> 
    </div>
    <div class="form-group col-md-2">
      <label>SBC Phonenumber</label>
      <input type="text" class="form-control" id="sbc-phone"> 
    </div>
    
    
    
      
    <div class="form-group col-md-2">
      <%= f.label :volunteers %>
      <%= f.text_field :volunteers , class: "form-control" %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :volunteers_added %>
      <%= f.text_field :volunteers_added , class: "form-control" %>
    </div>
    </div>
    
    
    <p class="sub-form-title">SBC tenure details:</p>

    <%= f.fields_for :sbc_tenure_details do |i| %>
      <%= render 'sbc_tenure_detail_fields', f: i %>
      
    <% end %>
    
    <div class="links col-md-12">
        <%= link_to_add_association 'Add Event', f, :sbc_tenure_details , class: "form-button btn btn-primary" %>
    </div>
   
    
    
    <div class="form-group">
        <div class="col-md-offset-5 col-md-2">
            <%= f.submit "Submit" , class: "btn btn-success btn-lg" %>
        </div>
    </div>
    
<% end %>   
