
<%= render 'shared/errors', object: @longestcontinuoussbc %>

<%= form_for @longestcontinuoussbc, :html => {:class => "form-horizontal"} do |f| %>
<p class="form-detail">(Awarded to the Student Branch Counsellor with longest continuous tenure at one or more colleges as SBC
over the past 3 years)
</p>      
    <div class="row">
    <p class="primary-form-subheading">Institution Details</p> 
    <div class="form-group col-md-6">
     <label>Institution Name</label>
     <input type="text" class="form-control" id="name" value="<%= current_sbc_user_data.institute.name %>" disabled>     
    </div>
    
    <div class="form-group col-md-3">
      <%= f.label :imno , "Institution Number" %>
      <%= f.text_field :imno , value: current_sbc_user_data.institute.imno,
      required: true , readonly: true ,class: "form-control" , id:"imno"%>
    </div>
   
    
    <div class="form-group col-md-3">
      <label>City</label>
      <input type="text" class="form-control" id="city" value="<%= current_sbc_user_data.institute.city %>" disabled> 
    </div>
   
    
   
    
    <p class="primary-form-subheading">SBC Details</p> 
        <div class="form-group col-md-3">
      <label>Name</label>
      <input type="text" class="form-control" id="sbc-name" value="<%= current_sbc_user_data.sbc_name %>" disabled>
    </div>
    
  
    <div class="form-group col-md-3">
      <label>Email</label>
      <input type="email" class="form-control" id="sbc-email" value="<%= current_sbc_user_data.sbc_email %>" disabled> 
    </div>
  
    
    
    
      
    <div class="form-group col-md-3">
      <label>Volunteers</label>
      <input type="text" class="form-control" id="volunteers" title="Number of CSI Volunteers as on 30th  June  2017"
      value="<%= current_sbc_user_data.no_of_volunteers %>" disabled> 
    </div>
    <div class="form-group col-md-3">
      <%= f.label :volunteers_added  , "# CSI Volunteers added - 2016-17" %>
      <%= f.text_field :volunteers_added , required: true , type: "number",
      min: "0" ,max: "100", maxlength: "3", title:"Enter the number of Volunteers", class: "form-control" %>
    </div>
    
    
    
    <p class="primary-form-subheading">SBC tenure details (No. of CSI Volunteers Added):</p>
    
    <br>
    <div class="row container">
      <table class="col-md-12">
        <thead>
          <tr>
            <td><strong>During 2014-15 </strong></td>
            <td><strong>During 2016-17 </strong></td>
            <td><strong>During 2017-18 </strong></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= f.text_field :last_but_before_year_vol_strength , required: true , type: "number",
      min: "0" ,max: "1000", maxlength: "4", class: "form-control" %></td>
            <td> <%= f.text_field :last_year_vol_strength , required: true , type: "number",
      min: "0" ,max: "1000", maxlength: "4", class: "form-control" %></td>
            <td> <%= f.text_field :current_year_vol_strength , required: true , type: "number",
      min: "0" ,max: "1000", maxlength: "4", class: "form-control" %></td>
          </tr>
        </tbody>
      </table>
    </div>
    

    
    
  <br></br>
   
   
   <p class="proof"><strong>Upload Passport size photo of candidate in a single zip file in the link below</strong></p>
    
    <div>
        
<%= f.label :attachment %>
        
<%= f.filepicker_field :attachment %> <!-- User#avatar_url is a regular string column -->
    
  </div>
    <div class="form-group">
        <div class="col-md-offset-5 col-md-2">
            <%= f.submit "Submit" , class: "btn btn-success btn-lg" %>
        </div>
    </div>
    
<% end %>   
