
<%= render 'shared/errors', object: @longestcontinuoussbc %>

<%= form_for @longestcontinuoussbc, :html => {:class => "form-horizontal"} do |f| %>
    
    <div class="row">
    <p class="primary-form-subheading">Institution Details</p> 
    <div class="form-group col-md-6">
     <%= f.fields_for :institute, @institute do |institute| %>
      <label>Name</label>
      <%= institute.autocomplete_field :name, autocomplete_institute_name_institutes_path ,id: "name" , class: "form-control" %>
     <% end %>  
    </div>
    <div class="form-group col-md-6">
      <label>Postal Address</label>
      <input type="text" class="form-control" id="address"> 
    </div>
    <div class="form-group col-md-1">
      <%= f.label :imno , "IMNO" %>
      <%= f.text_field :imno  , class: "form-control" , id:"imno"%>
    </div>
   
    <div class="form-group col-md-1">
      <label>valid_till</label>
      <input type="text" class="form-control" id="valid_till"> 
    </div>
    <div class="form-group col-md-3">
      <label>District</label>
      <input type="text" class="form-control" id="district"> 
    </div>
    <div class="form-group col-md-2">
      <label>City</label>
      <input type="text" class="form-control" id="city"> 
    </div>
    <div class="form-group col-md-2">
      <label>Pin</label>
      <input type="text" class="form-control" id="pin"> 
    </div>
    <div class="form-group col-md-3">
      <label>State</label>
      <input type="text" class="form-control" id="state"> 
    </div>
   
    
    <p class="primary-form-subheading">SBC Details</p> 
    <div class="form-group col-md-2">
      <label>Name</label>
      <input type="text" class="form-control" id="sbc-name"> 
    </div>
    
    <div class="form-group col-md-2">
      <label>CSI Imno</label>
      <input type="text" class="form-control" id="sbc-imno"> 
    </div>
    <div class="form-group col-md-3">
      <label>Email</label>
      <input type="email" class="form-control" id="sbc-email"> 
    </div>
    <div class="form-group col-md-3">
      <label>Phonenumber</label>
      <input type="text" class="form-control" id="sbc-phone"> 
    </div>
    
    
    
      
    <div class="form-group col-md-1">
      <label>Volunteers</label>
      <input type="text" class="form-control" id="volunteers"> 
    </div>
    <div class="form-group col-md-1">
      <%= f.label :volunteers_added ,"Added" %>
      <%= f.text_field :volunteers_added , class: "form-control" %>
    </div>
    </div>
    
    
    
    <p class="primary-form-subheading">SBC tenure details:</p>
    
    <br>
    <div class="row">
      <div class="col-md-3"><p class="subform-head"><strong>Year</strong></p></div>
      <div class="col-md-3"><p  class="subform-head"><strong>Institution Name</strong></p></div>
      <div class="col-md-3"><p><strong>Imno</strong></p></div>
      <div class="col-md-2"><p><strong>No. of Volunteers</strong></p></div>
    </div>
    

    <%= f.fields_for :sbc_tenure_details do |i| %>
      <%= render 'sbc_tenure_detail_fields', f: i %>
      
    <% end %>
    
    <div class="links col-md-12">
      <br>
        <%= link_to_add_association 'Add Event', f, :sbc_tenure_details , class: "form-button btn btn-primary" %>
    </div>
   
    
    
    <div class="form-group">
        <div class="col-md-offset-5 col-md-2">
            <%= f.submit "Submit" , class: "btn btn-success btn-lg" %>
        </div>
    </div>
    
<% end %>   
