<div class="nested-fields">
    
<div class="row">
<div class="form-group col-md-3">
        <%= f.label :year %>
        <%= f.text_field :year %>
</div>
<div class="form-group col-md-3">
        <%= f.label :institution_name %>
        <%= f.text_field :institution_name %>
</div>
<div class="form-group col-md-2">
        <%= f.label :imno_of_institution %>
        <%= f.text_field :imno_of_institution %>
</div>
<div class="form-group col-md-2">
        <%= f.label :volunteers %>
        <%= f.text_field :volunteers %>
</div>

<div>
   <%= link_to_remove_association "Remove", f, class: "form-button btn btn-default" %> 
</div>
</div>



</div>